<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="redis"
             type="Redis.Driver.Config.RedisConfigSection, Redis.Driver"/>
  </configSections>

  <redis>
    <client>
      <endpoint name="test1"
                socketBufferSize="4096"
                messageBufferSize="4096"
                millisecondsSendTimeout="10000"
                millisecondsReceiveTimeout="10000">
        <servers>
          <!--put you server here-->
          <!--<server host="127.0.0.1" port="6379" />-->
          <server host="10.0.51.201" port="6379" />
        </servers>
      </endpoint>
    </client>
  </redis>

</configuration>