<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="redis"
             type="Redis.Driver.Config.RedisConfigSection, Redis.Driver"/>
  </configSections>

  <redis>
    <client>
      <endpoint name="test"
                socketBufferSize="8192"
                messageBufferSize="8192"
                millisecondsSendTimeout="3000"
                millisecondsReceiveTimeout="3000">
        <servers>
          <!--put you server here-->
          <server host="127.0.0.1" port="6379" />
        </servers>
      </endpoint>
    </client>
  </redis>

</configuration>