<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="redis"
             type="Redis.Driver.Config.RedisConfigSection, Redis.Driver"/>
  </configSections>

  <redis>
    <client>
      <endpoint name="point1"
                socketBufferSize="1024"
                messageBufferSize="1024"
                millisecondsSendTimeout="5000"
                millisecondsReceiveTimeout="5000">
        <servers>
          <!--put you server here-->
          <server host="127.0.0.1" port="6379" />
          <server host="127.0.0.1" port="6381" />
        </servers>
      </endpoint>
    </client>
  </redis>

</configuration>